{% extends '@Layout/Page/Admin/base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        {% include '@Widget/Item/Admin/base.html.twig' with {'item': item_model} %}
    </div>
{% endblock body %}