{% extends '@Layout/Page/Admin/base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        {% include '@Widget/Rank/Admin/base.html.twig' with {'rank': rank} %}
    </div>
{% endblock body %}