{% extends '@Layout/Page/Admin/base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        {% include '@Widget/Status/Admin/base.html.twig' with {'status': status} %}
    </div>
{% endblock body %}