<header class="top-bar">
    <ul class="profile">
        <li>
            <a href="{{ path('app_home_home_index') }}" class="btn-circle no-circle">
                <i class="pe-7f-back"></i>
            </a>
        </li>
        <li>
            <a href="#" class="btn-circle btn-sm">
                <i class="pe-7f-mail"></i>
                <span class="badge badge--blue">8</span>
            </a>
        </li>
        <li>
            <a href="#" class="btn-circle btn-sm">
                <i class="pe-7g-sets"></i>
            </a>
        </li>
        <li>
            <a href="#" class="btn-circle btn-sm active">
                <i class="pe-7g-user"></i>
            </a>
        </li>
    </ul>
    <div class="main-brand" style="width: calc(100% - 260px);">
        <div class="main-brand__container">
            {% for tabulation in tabulations %}
                <div class="main-logo">
                    <a class="main-nav__link" href="{{ tabulation.url }}">
                    <span class="main-nav__icon">
                        <i class="{{ tabulation.icon }}"></i>
                    </span>
                        {{ tabulation.text|trans({}, 'sidebar') }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</header>