{% extends '@Layout/Page/Admin/base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        {% include '@Widget/Implant/Admin/base.html.twig' with {'implant': implant_model} %}
    </div>
{% endblock body %}