{% extends '@Layout/Page/Default/base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
        <button>Enregistrer</button>
    {{ form_end(form) }}
{% endblock body %}