<!DOCTYPE html>
{% block html_html %}
<html>
{% block html %}
    {% block head_html %}
        <head>
            {% block head %}
                {% block title_html %}
                    <title>
                        {% block title %}

                        {% endblock title %}
                    </title>
                {% endblock title_html %}
                {% block stylesheets_html %}{% endblock stylesheets_html %}
            {% endblock head %}
        </head>
    {% endblock head_html %}

    {% block body_html %}
        <body>
        {% block body %}

        {% endblock body %}
        {% block javascripts_html %}{% endblock javascripts_html %}
        </body>
    {% endblock body_html %}

{% endblock html %}
</html>
{% endblock html_html %}