{% extends '@Layout/Page/Admin/base.html.twig' %}

{% block body %}
    <div class="row">
        {% for god in gods %}
            <div class="col-md-6">
                {% include '@Widget/God/Admin/base.html.twig' with {'god': god} %}
            </div>
        {% endfor %}
    </div>
{% endblock body %}