<header class="main-header">
    <div class="main-header__nav">
        <h1 class="main-header__title">
            <i class="{{ icon }}"></i>
            <span>{{ title }}</span>
        </h1>
    </div>
</header>