{% extends '@Layout/Page/Admin/base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        {% include '@Widget/Wound/Admin/base.html.twig' with {'wound': wound} %}
    </div>
{% endblock body %}